# SET

In [30]:
set_1={1,2,3,6,7,4,5,6}
print(set_1)
set_2=list(lst)
print(set_2)

print(type(set_1))
print(type(set_2))

{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]
<class 'set'>
<class 'list'>

In [31]:
## set does not hold duplicate record
sett_1={1,1,2,2,3,3,4,4,5,5,6,6}
print(sett_1)

{1, 2, 3, 4, 5, 6}

In [32]:
# create set from list
sett_2=set()
print(type(sett_2))

<class 'set'>

In [33]:
## add a value in set
set_3={1,2,3,4}
set_3.add(5)
print(set_3)

set_4={1,2}
set_4.update([2,3,5,'abhishek'])
print(set_4)

{1, 2, 3, 4, 5}
{1, 2, 3, 'abhishek', 5}

In [34]:
set_5={1,2,3,4}
set_5.update([5,6],(7,8))
print(set_5)
print(len(set_5))

{1, 2, 3, 4, 5, 6, 7, 8}
8

In [35]:
## remove an element
#lst_5.remove(3)
set_5.discard(5)
print(set_5)

{1, 2, 3, 4, 6, 7, 8}

In [36]:
## pop 
## it will store
## and delete the random value from set 

set_6={5,4,6,3,2,1}
a=set_6.pop()
print(a)

1

In [37]:
## clear
# it will remove all the elements from the set
set_7={5,4,1,2,3,6}
set_7.clear()
print(set_7)

set()

In [38]:
set_8={4,5,6,1,2,3}
set_9={7,8,9,7,4,1}
print(set_8 | set_9)  # union function
print(set_8.union(set_9)) #union alternate command
print(set_8 & set_9) #intersection
print(set_8.intersection(set_9))
print(set_8 - set_9) # it will give value which is availabe in set 1, but not in set 2
print(set_8.difference(set_9))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 4}
{1, 4}
{2, 3, 5, 6}
{2, 3, 5, 6}

In [39]:
#summetric operation
# use ^ this operation
print(set_8 ^ set_9) # which is not common in both set
print(set_8.symmetric_difference(set_9))

{2, 3, 5, 6, 7, 8, 9}
{2, 3, 5, 6, 7, 8, 9}

In [40]:
# issubset , issuperset
print(set_8.issubset(set_9))
print(set_8.issuperset(set_9))

False
False

In [41]:
# frozen set
set_10=frozenset({4,5,3,1,4,5,2,1})
set_11=frozenset([4,1,2,3,6,9,75])
print(type(set_10))
print(type(set_11))

#set_10.add(5)  # can't add value

<class 'frozenset'>
<class 'frozenset'>