In [13]:
## for loop

a=[10,20,30,40,50,":"]
b=(10,20,30,40,50)
for i in a:
    print(i,end=" ")
else:
    print("for loop in LIST")
for j in b:
    print(j)
else:
    print("for loop in TUPPLE")

10 20 30 40 50 : for loop in LIST
10
20
30
40
50
for loop in TUPPLE

In [24]:
x=[10,50,100,150]
product=2

for i in x:
    product *= i
    print(product)
print( "final product : {}".format(product))

20
1000
100000
15000000
final product : 15000000

In [31]:
## range function
# 
#
for i in range(50,10,-5):
    print(i)

50
45
40
35
30
25
20
15

In [32]:
for k in range(10):
    print(k)

0
1
2
3
4
5
6
7
8
9

In [33]:
for g in range (2,20,2):
    print(g)

2
4
6
8
10
12
14
16
18

In [57]:
## odd even using for loop

w=[1,2,5,4,8,9,6,25,44,66,]
#w=input("enter the no. :")
for i in w:
    print(i)
    if i%2==1:
        print("odd")
    else:
        print("even")
else:
    print("no data available",end=" ")

1
odd
2
even
5
odd
4
even
8
even
9
odd
6
even
25
odd
44
even
66
even
no data available

In [65]:
#odd even taking data from user
data=int(input("enter the no.:"))
if data%2==1:
    print("odd")
else:
    print("even")

enter the no.:9
odd

In [3]:
## while loop

i=3
while i<10:
    print(i+1)
    i=i+1

4
5
6
7
8
9
10

In [4]:
v=2
while v<10:
    print(v)
    v=v+1
else:
    print("v is no longer less than 10")

2
3
4
5
6
7
8
9
v is no longer less than 10