## list creation and operation

In [2]:
## list creation and operation

empty_list=[]
lst_1=['abhishek kumar','mahli','rohan'] #string
lst_2=[1,2,3,4,5,6] #integer
lst_3=[[2,5],[7,8],[9,3,6]] #list of list
lst_4=["abhishek",1,78,4.23]
print(lst_1)
print(lst_2)
print(lst_3)
print(lst_4)

['abhishek kumar', 'mahli', 'rohan']
[1, 2, 3, 4, 5, 6]
[[2, 5], [7, 8], [9, 3, 6]]
['abhishek', 1, 78, 4.23]

In [3]:
# list of list
print(lst_3[1][1])

8

In [9]:
# character from list 
print(lst_4[0][2:])

hishek

In [12]:
# update the data
lst_4[0]='mahli'
print(lst_4)

['mahli', 1, 78, 4.23]

In [15]:
#updating list of list and print the updated data only
lst_3[1]=69,69,69
print(lst_3[1])

(69, 69, 69)

In [16]:
lst_5=[4,8,6,3,'abhishek']
lst_5 +=['how are you']
print(lst_5)

[4, 8, 6, 3, 'abhishek', 'how are you']

In [17]:
lst_5.append('hello') # append will happen at the last index
print(lst_5)

[4, 8, 6, 3, 'abhishek', 'how are you', 'hello']

In [34]:
lst_5.insert(4,'btm') # insert at some specific index
print(lst_5)

[4, 8, 6, 3, 'btm', 'btm', 'abhishek', 'how are you', 'hello']

In [35]:
lst_5.remove('btm') # remove any data by calling it
print(lst_5)

[4, 8, 6, 3, 'btm', 'abhishek', 'how are you', 'hello']

In [41]:
lst_3.insert(0,4)
print(lst_3)
lst_3.remove(10)

[4, 4, 10, [2, 5], (69, 69, 69), [9, 3, 6]]

In [50]:
## append and extend

# case 1  
# append will insert new list into the list
a1=[1,7,4,5]
e1=[6,8,9]

# a1.append(e1)
print(a1)

[1, 7, 4, 5]

In [51]:
# case 2

# extend will insert the data into the list
a1.extend(e1)
print(a1)

[1, 7, 4, 5, 6, 8, 9]

In [53]:
## extend with string
s1=['how are you mr. ']
s2=str(input("enter your name :"))
s1.extend(s2)
print(s1)

enter your name :abhishek kumar
['how are you mr. ', 'a', 'b', 'h', 'i', 's', 'h', 'e', 'k', ' ', 'k', 'u', 'm', 'a', 'r']

In [57]:
# delete and pop

# case 1
d1=[1,2,3,4,'abhishek','dhanbad']
del d1[4]
print(d1)

[1, 2, 3, 4, 'dhanbad']

In [58]:
# case 2

h=d1.pop(3)
print(h)

4

In [59]:
# if else in list
if_lst=['btm','bangalore','karnataka']
if 'btm' in if_lst:
    print("yes")
else:
    print("n0")

yes

In [61]:
# reverse the list
rev=['five','four','three','two','one']
rev.reverse()

rev_num=[5,4,3,2,1,0]
rev_num.reverse()
print(rev)
print(rev_num)

['one', 'two', 'three', 'four', 'five']
[0, 1, 2, 3, 4, 5]