## 1. LIST

##### INDEX , NON HOMOGENEOUS , MUTABLE , DUBLICACY

In [14]:
list_1=[1,2,3,'abhishek','mahli','kumar',7985521649,'abhi@gmal.com','123abhi456','*&^()$#@','abhishek']

In [15]:
print(list_1)
print(id(list_1))
print(type(list_1))

[1, 2, 3, 'abhishek', 'mahli', 'kumar', 7985521649, 'abhi@gmal.com', '123abhi456', '*&^()$#@', 'abhishek']
1813516478528
<class 'list'>

### 1.1 List Indexing

In [16]:
print(list_1[3])

abhishek

In [8]:
print(list_1[3:5])

['abhishek', 'mahli']

### 1.2 List NON-Homogeneous

In [17]:
print(list_1)

[1, 2, 3, 'abhishek', 'mahli', 'kumar', 7985521649, 'abhi@gmal.com', '123abhi456', '*&^()$#@', 'abhishek']

### 1.3 List Mutable

In [11]:
list_1[1]=55

In [18]:
print(list_1)

[1, 2, 3, 'abhishek', 'mahli', 'kumar', 7985521649, 'abhi@gmal.com', '123abhi456', '*&^()$#@', 'abhishek']

### 1.4 List Dublicacy

In [25]:
print(list_1[3])
print(list_1[10])

abhishek
abhishek

## 2.TUPLE

##### INDEX , IMMUTABLE , DUBLICACY , NON HOMOGENEOUS

In [35]:
TUP=(5,4,6,"ABHISHEK","KUMAR","MAHLI","ABHI@GMAIL.CON","@#$%^&*()","asd456qwe","ABHISHEK")

In [36]:
print(TUP)
print(id(TUP))
print(type(TUP))

(5, 4, 6, 'ABHISHEK', 'KUMAR', 'MAHLI', 'ABHI@GMAIL.CON', '@#$%^&*()', 'asd456qwe', 'ABHISHEK')
1813487385920
<class 'tuple'>

### 2.1 TUPLE INDEXING

In [30]:
print(TUP[5])

MAHLI

In [31]:
print(TUP[5:7])

('MAHLI', 'ABHI@GMAIL.CON')

### 2.2 TUPLE IS IMMUTABLE

In [32]:
TUP[5]="ROHAN"

TypeError: 'tuple' object does not support item assignment

### 2.3 TUPLE DUBLICACY

In [37]:
print(TUP[3])
print(TUP[9])

ABHISHEK
ABHISHEK

### 2.4 TUPLE NON HOMOGENEOUS

In [40]:
print(TUP)

(5, 4, 6, 'ABHISHEK', 'KUMAR', 'MAHLI', 'ABHI@GMAIL.CON', '@#$%^&*()', 'asd456qwe', 'ABHISHEK')

## 3. DICTIONARY

##### NON INDEX , NON HOMOGENEOUS , NON DUBLICACY , MUTABLE

In [59]:
dicti={'1':'abhishek','2':'kumar','3':'rohan','asd':'3'}

In [60]:
print(dicti)
print(id(dicti))
print(type(dicti))

{'1': 'abhishek', '2': 'kumar', '3': 'rohan', 'asd': '3'}
1813516830208
<class 'dict'>

### 3.1 NON INDEX "KEY"

In [61]:
dicti['1']

'abhishek'

### 3.2 NON HOMOGENEOUS

In [62]:
print(dicti)

{'1': 'abhishek', '2': 'kumar', '3': 'rohan', 'asd': '3'}

### 3.3 MUTABLE ONLY IN VALUES NOT IN KEY

In [63]:
dicti['2']='mahli'

In [54]:
print(dicti)

{'1': 'abhishek', '2': 'mahli', '3': 'rohan', 'asd': '3'}

### 3.4 ADDING NEW VALUES INTO DICTIONARY

In [64]:
dicti['4']='harshal'

In [65]:
print(dicti)

{'1': 'abhishek', '2': 'mahli', '3': 'rohan', 'asd': '3', '4': 'harshal'}

## 4. SET

## non homogeneous , immutable , sorted , no duplicacy , no index

In [71]:
A={7,5,4,9,1,0,0,0,0,0,3,'ABHISHEK','KUAMR','MAHLI'}

In [72]:
print(A)
print(id(A))
print(type(A))

{0, 1, 3, 4, 5, 7, 9, 'MAHLI', 'KUAMR', 'ABHISHEK'}
1813517164096
<class 'set'>

### 4.1 NON HOMOGENEOUS

In [73]:
print(A)

{0, 1, 3, 4, 5, 7, 9, 'MAHLI', 'KUAMR', 'ABHISHEK'}

### 4.2 SORTED

In [74]:
print(A)

{0, 1, 3, 4, 5, 7, 9, 'MAHLI', 'KUAMR', 'ABHISHEK'}

### 4.3 NO DUBLICACY

In [75]:
print(A)

{0, 1, 3, 4, 5, 7, 9, 'MAHLI', 'KUAMR', 'ABHISHEK'}

### NO INDEXING

In [76]:
A[2]

TypeError: 'set' object is not subscriptable