## TUPLE

In [5]:
tup=(1,2,3,['abhishek','kumar','mahli'],4,5,6)
print(tup)
print(tup[3][1])

(1, 2, 3, ['abhishek', 'kumar', 'mahli'], 4, 5, 6)
kumar

In [7]:
tup_1=('hi')
tup_2=('hi',)
print(type(tup_1))
print(type(tup_2))

<class 'str'>
<class 'tuple'>

In [15]:
tup_3=(1,2,3,['abhishek','kumar','mahli'],4,5,6)
print(tup[:])
print(tup[1:])
print(tup[1:6])
print(tup[-1:])

(1, 2, 3, ['abhishek', 'kumar', 'mahli'], 4, 5, 6)
(2, 3, ['abhishek', 'kumar', 'mahli'], 4, 5, 6)
(2, 3, ['abhishek', 'kumar', 'mahli'], 4, 5)
(6,)

In [16]:
## Changing in tuple
tup[2]=5    ## we can not update tuple

TypeError: 'tuple' object does not support item assignment

In [19]:
## updating list inside the tuple
print(tup)
tup[3][1]='gopal'
print(tup)

(1, 2, 3, ['abhishek', 'gopal', 'mahli'], 4, 5, 6)
(1, 2, 3, ['abhishek', 'gopal', 'mahli'], 4, 5, 6)

In [21]:
# sting element is also immutable
lst='prwatech'
print(lst[6])
lst[2]='xx'  # sting can not be upated

c

TypeError: 'str' object does not support item assignment

In [22]:
## concatination in tuple
con=(12,23,34,45)+('abhishek','kumar')
print(con)

(12, 23, 34, 45, 'abhishek', 'kumar')

In [27]:
# other operations in tuple 
con_1=(('abhishek',)*5)
print(con_1)
type(con_1)

('abhishek', 'abhishek', 'abhishek', 'abhishek', 'abhishek')

tuple

In [29]:
## Tuple Deletion
delt=(4,5,6,3,2,1,2)
del delt[2]
print(delt)

TypeError: 'tuple' object doesn't support item deletion

In [34]:
## Tupel Count
tup_count=(1,2,2,3,3,6,6,5,4,4,4,7)
print(tup_count.count(6))
print(tup_count.count(4))
print(tup_count.index(6))

2
3
5

In [36]:
## membership
mem=(1,2,4,5,6)
print(3 in mem)
print(2 in mem)

False
True

In [37]:
## length of tuple
length=(1,2,4,5,7,8,9,6,3,2,1,4,5,4)
len(length)

14

In [39]:
## Tuple sort

sort=(5,4,6,6,9,8,7,4,1,2,3,6,5,4)
print(sorted(sort))

[1, 2, 3, 4, 4, 4, 5, 5, 6, 6, 6, 7, 8, 9]

In [43]:
## max min
print(max(sort))
min(sort)

9

1

In [47]:
## libraries
import statistics as st
st.mean((5,4,7,8,9,6))

6.5

In [48]:
import math as mat
mat.factorial(5)

120