## CONCATINATION

In [16]:
a=10
b=20
c='abhishek'
print(a,b)

print("value of a is {} , value of b is {} , name is {}".format(a,b,c))
print("value of a is {1} , value of b is {0} , name is {2}".format(a,b,c))

10 20
value of a is 10 , value of b is 20 , name is abhishek
value of a is 20 , value of b is 10 , name is abhishek

### string value

In [20]:
my="country"
name_is="india"

print("i love my {1} , name_is {0}".format(name_is,my))

i love my country , name_is india

### print without references variable or pass by value

In [28]:
print("my name is {} {} and im from {}".format('abhishek' ,'mahli','dhanbad_jharkhand'))

my name is abhishek mahli and im from dhanbad_jharkhand

### input enter by user

In [40]:
a=int(input("enter value of a :"))
b=int(input("enter value of b :"))

c=a*b
d=a+b
print("value of c is {},value of d is {}".format(c,d))

enter value of a :52
enter value of b :2
value of c is 104,value of d is 54

In [64]:
x=float(input("enter your age :"))
print(f"your are :{x*365} months old".format(x))

enter your age :24
your are :8760.0 months old

### enter multiple value

In [3]:
x=str(input("enter your name :")),float((input("enter your age :"))),float((input("enter your bank balance :")))
print(x)

enter your name :abhi
enter your age :24.3
enter your bank balance :1.12
('abhi', 24.3, 1.12)

### arithmatic operation

In [50]:
a=9
b=2

print(a+b)
print(a-b)
print(a*b)
print(a/b)

print(a//b) ## floor division
print(a**b) ## exponenial
print(a%b)  ## remainder

11
7
18
4.5
4
81
1

### comparision operator

In [54]:
p=8
q=7

print(p<q)
print(p>q)
print(p==q)
print(p<=q)
print(p>=q)
print(p!=q)

False
True
False
False
True
True

### logical operation

In [55]:
a=True
b=False

print(a,b)
print(a or b)
print(a and b)
print(not a)
print(not b)

True False
True
False
False
True

### special operator

In [57]:
a=45
b=45
print(id(a))
print(id(b))

print(a is not b)
print(a is b)

2067898134192
2067898134192
False
True

In [58]:
l1=[1,2,3]
l2=[1,2,3]

print(id(l1))
print(id(l2))
print(l1 is l2)

2068012855232
2068013306496
False

In [59]:
l3={1,2,3,4,5}
print (5 in l3)

True

In [62]:
l4={1:"aa",2:"bb",3:"cc"}
print(2 not in l4)       ## checking KEY

False